aside.main-sidebar {
  section.sidebar {
    ul.sidebar-menu {
      li {
        &>a:hover {
          background: #bcbaf7;
        }
        &.menu-open>a {
          color: #FFF;
          background: #8f8fd8;
        }
        &.active>a,
        & ul.treeview-menu li.active {
          background: #605ca8;
          color: #FFF;
        }
      }
    }
  }
}


/* 调整整版 layout: full 页面样式 */

.full-wrapper {
  .main-header {
    .navbar {
      margin-left: 0px;
    }
  }
  .content-wrapper {
    margin-left: 0px;
  }
}


/* 调整整版 layout: full 页面样式 */


/* Devise Flash Message */

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}


/* Devise Flash Message */