.simple_form {
  .required>abbr {
    color: red;
  }
  .form-horizontal {
    .form-group {
      label {
        &.boolean,
        &.date,
        &.datetime,
        &.file {
          padding-top: 0px;
        }
      }
      input[type='file'] {
        font-size: 12px;
      }
      span.radio {
        display: inline-block;
        padding-right: 7px;
      }
    }
  }
}